.show {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.showImg  {
  margin: 10px;
  width: 85%;
  height: 85%;
}

.left {
  padding-top: 15px;
}

.showButton {
  background-color: white;
  border: 1px solid;
  border-color: #485265;
  border-radius: 1%;
}
