.showImg  {
  margin: 3% 0 0 90%;
  width: 85%;
  height: 85%;
}

.right {
  position: relative;
  width: 40%;
  height: 40%;
}

.left {
  position: absolute;
  margin: 10% 0 0 25%;
  width: 50%;
  height: 50%;
}

.showButton {
  background-color: white;
  border: 1px solid;
  border-color: #485265;
  border-radius: 1%;
}
