img {
  height: 350px;
  width: 350px;
}
hr {
  margin-top: 30px;
  height: 1px;
  width: 30%;
}
/*Nav Bar*/
.navBarLi a:hover {
  background-color: #485265;
  color: #fcfaf9;

}
.navBarLi a {
  color: white;
  text-align: center;
  float: left;
  padding: 0px 15px 0px 10px;
  font-family: 'Poiret One', cursive;
  margin: 0%;
}
.searchBar {
  font-family: 'Raleway Dots', Poiret One;
  float: left;
  color: #fcfaf9;
  text-align: center;
  margin-left: 5%;
}
.title {
  font-family: 'Raleway Dots', Poiret One;
  font-size: 40px;
  color: #fcfaf9;
  margin-left: 46%;
}
.navBar {
  overflow: hidden;
  list-style-type: none;
  background-color: #181818;
  padding: 20px 0px 5px 10px;
}

/*END NAV BAR*/


/*FORM*/

.formContainer {
  width: 35%;
  padding: 30px 170px 30px 0px;
  background-color: #e9ecef;
  margin: 5% auto 5% auto;
  border: solid 1px #adb5bd;
  border-radius: 5px;
}

/*END FORM*/

.cards {
  margin: 5% 8% 5% 5%;
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
  display: inline-block;
}
.card-img {
  margin: 5px;
}
.cardDetails {
  margin: 0px 0px 0px 130px;
}
.price {
  padding: 3px 10px;
  margin: 0px 0px 0px 0px;
}
.product {
  margin: 0;

}
.detailsLink {
  margin-left: 0;
  padding: 5px;
}
.editLink {
  margin-left: 0;
  padding: 0;
}
